@import "augmented-ui/augmented-ui.min.css";

:root {
  --highlight-500: 218 255 0;
  --neutral-500: 51 176 255;
  --brand-white: 242 242 242;
  --brand-black-900: 20 20 19;

  --monorail-bg: 156 156 156;
  --monorail-active-bg: 218 255 0;
  --monorail-active-text: 0 0 0;
}
